<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Eteam</servlet-name>
		<servlet-class>wine.EteamServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddData</servlet-name>
		<servlet-class>wine.AddDataServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GetData</servlet-name>
		<servlet-class>wine.GetDataSrvlet</servlet-class>
	</servlet>
	

	<servlet>
		<servlet-name>Gae_add</servlet-name>
		<servlet-class>wine.Gae_addServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Gae_get</servlet-name>
		<servlet-class>wine.Gae_getServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Gae_del</servlet-name>
		<servlet-class>wine.Gae_delServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>Eteam</servlet-name>
		<url-pattern>/eteam</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddData</servlet-name>
		<url-pattern>/adddata</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GetData</servlet-name>
		<url-pattern>/getdata</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Gae_add</servlet-name>
		<url-pattern>/gae_add</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Gae_get</servlet-name>
		<url-pattern>/gae_get</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Gae_del</servlet-name>
		<url-pattern>/gae_del</url-pattern>
	</servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
